body  {
    background-image: url("../images/dust_scratches.png");
    border-color: #dddddd;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}   

header,
nav
 {
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    width: 100%;
    height: 120px;
    margin-top: -10px;
    border-color: #cccccc;
    border-bottom-style: solid;



}

.navul {
    position: left;
    float: left;
    height: 20%;
    margin-top: 2%;

}

li {
    display: inline;
    margin-left: 20px;
}

h1 {
    float: left;
    margin-bottom: 10px;
    height: 50px;

}

.section {
    margin-bottom: 5px;
        border-bottom-color: #4aaaa5;
}

.box-1 {
    float: left;
    color: #4aaaa5;
    text-align: left;
}
.head-1 {
        float: left;
        width: 18%;
        height: 75%;
        background-color: #ffffff;
        background: #4aaaa5;
        text-align: center;
        color: white;
        margin-left: 20%;

      }



hr {
    float: left;
    width: 95%;
    margin-left: 10px;
    margin-right: auto;
    border-width: 2px;
    border-color: #dddddd;
    }

a, u, p {
        text-decoration: none;
        color: #777777;
    }

.contactp {
    margin-left:    10px;
    color: #777777;
}
#mypic {
        float: left;
        margin-left: 10px;
        width: 20%;
}
.box-2 {
    float: relative;
    width: 90%;
    height: 100%;
    margin: 1% 5% 5% 5%;

    
}
.box-3 {
    float: left;
}

a:hover {
    background-color: black;
}
a:active {
    background-color: navy;
}

a:focus {
    background-color: green;
    color: white;
}
h2 {
    margin-left: 2%;
}

.imgport {
    float: left;
    width:  10%;
    height: 10%;
    margin-left: 20px;
}

span {
    float: left;
    background-color: #4aaaa5;
    color: white;
    margin-left: -20%;
    margin-top: 16%;
    width: 19%;
    text-align: center;
}

textarea, 
input {
    float: left;
    margin-left: 10px;
    width: 90%;
}

button {
    float: left;
    width: 70px;
    height: 40px;
    background-color:#4aaaa5;
    color:white;
    margin-left: 10px;
    margin-top: 0.5%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


@media screen and (min-width: 340px) {
   
    .relativebox {
        float: left;
        position: left;
        margin-top: 5%;
        width: 20rem;
        margin-left: 10%;
        background-color: #ffffff;
        border-style: solid;
        border-color:  #dddddd;
        overflow: visible;
    }
    
    .head-1,ul {
        width: fit-content;
        margin-left: 0px auto;
        margin-top: 0px;
    }
    h2,p {
        float: left;
        margin-left: 2px;
        width: 20rem;
        height: 30%;
    }
    .navul {
        margin-left: 6%;
        margin-right: 5%;
    
    }
    footer {
        float: left;
        position: relative;
        background-color: #666666;;
        clear: both;
        width: 100%;
        color: #dddddd;
        margin-top: 5px;
        padding: 2%;
        text-align: center ;
    
    }
    .imgbg {
        float: left;
        width: 100%;
        height: 270%;
        margin-right: 10%;
    }
    .imgport {
        float: left;
        width:  200px;
        height: 200px;
        margin-left: 30px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 440px) {
    .relativebox {
        float: left;
        position: left;
        margin-top: 5px;
        width: 23rem;
        background-color: #ffffff;
        border-style: solid;
        border-color:  #dddddd;
       /* overflow: visible; */
    }
    
    
    .head-1,ul {
        width: fit-content;
        position: left;
        margin-left: 0px auto;
        margin-top: 0;
    }
    h2,p {

        width: 23rem;
        height: 30%;
    }
    .navul {
        margin-left: 12%;
        margin-right: 10%;
    
    }
    footer {
        float: left;
        position: relative;
        background-color: #666666;;
        clear: both;
        width: 100%;
        color: #dddddd;
        margin-top: 5px;
        padding: 2%;
        text-align: center ;
    
    }
    .imgbg {
        float: left;
        width: 100%;
        margin-right: 10%;
        margin-bottom: 0px;
    }
    .imgport {
        float: left;
        width:  200px;
        height: 200px;
        margin-left: 60px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 540px) {
    .relativebox {
        float: left;
        margin-top: 5%;
        width: 28em;
        margin-right: 25%;
        background-color: #ffffff;
        border-style: solid;
        border-color:  #dddddd;
    }
    .head-1 {
        width: fit-content;
        position: left;
        margin-left: 0px auto;
        margin-top: 0;
    }
    h2,p {
        float: left;
        margin-left: 2px;
        width: 28em;;
        height: 20%;
    }
    .navul {
        margin-left: 12%;
        margin-right: 10%;
    
    }
    footer {
        float: left;
        position: relative;
        background-color: #666666;;
        clear: both;
        width: 100%;
        color: #dddddd;
        margin-top: 5px;
        text-align: center ;
    
    }
    .imgport {
        float: left;
        width:  200px;
        height: 200px;
        margin-left: 80px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 640px) {
    .relativebox {
        float: left;
        position: left;
        margin-top: 5%;
        margin-left: 15%;
        width: 30rem;
 
        background-color: #ffffff;
        border-style: solid;
        border-color:  #dddddd;
        
    }

    .head-1 {
        width: fit-content;
        position: left;
        margin-left: 0px auto;
        margin-top: 0 auto;
    }
    h2,p {
        margin-left: 2px;
        width: 30rem;
        height: 30%;
    }
    .navul {
        margin-left: 12%;   
    }
    footer {
        float: left;
        position: relative;
        background-color: #666666;;
        clear: both;
        width: 100%;
        color: #dddddd;
        margin-top: 5px;
        padding: 2%;
        text-align: center ;
    
    }
   
}

    @media screen and (min-width: 740px) {
        .relativebox {
            float: left;
            position: left;
            margin-top: 5%;
            width: 38rem;
            background-color: #ffffff;
            border-style: solid;
            border-color:  #dddddd;
        }
        .head-1 {
            width: fit-content;
            position: left;
            margin-left: 0 auto;
            margin-top: 5px auto;

            
        }
        h2,p {
            margin-left: 2px;
            width: 38rem;
            height: 30%;
        }
        footer {
            float: left;
            position: relative;
            background-color: #666666;;
            clear: both;
            width: 100%;
            color: #dddddd;
            margin-top: 5px;
            padding: 2%;
            text-align: center ;
        
        }
    }
    @media screen and (min-width: 840px) {
        body {
            height: 120rem;
        }
        .head-1 {
            width: fit-content;
            position: left;
            margin-left: 0 auto;
            margin-top: 5px auto;
        }
        .relativebox {
            float: left;
            position: left;
            margin-top: 5%;
            margin-left: 15%;
            width: 44rem;
            background-color: #ffffff;
            border-style: solid;
            border-color:  #dddddd;
            margin-bottom: 2rem;
        }
        h2,p {
            margin-left: 2px;
            width: 44rem;
            height: 30%;
        }
        footer {
            float: left;
            position: relative;
            background-color: #666666;;
            clear: both;
            width: 100%;
            color: #dddddd;
            margin-top: 5px;
            padding: 2%;
            text-align: center ;
            border-top: 5rem;
            border-top-color: #4aaaa5;
        
        }
       
    }

    @media screen and (min-width: 940px) {
        .relativebox {
            float: left;
            position: left;
            margin-top: 5%;
            margin-left: 15%;
            width: 48rem;
            background-color: #ffffff;
            border-style: solid;
            border-color:  #dddddd;
        }
        .head-1,ul {
            width: fit-content;
            position: left;
            margin-left: 0 auto;
            margin-top: 40px;
        }
    
        h2,p {
            margin-left: 2px;
            width: 48rem;
            height: 30%;
        }
       
    }

    @media screen and (min-width: 1040px) {
        .head-1 {
            width: fit-content;
            position: left;
            margin-left: 0 auto;
        }
        .relativebox {
            float: left;
            position: left;
            margin-top: 5%;
            margin-left: 15%;
            width: 50rem;
            background-color: #ffffff;
            border-style: solid;
            border-color:  #dddddd;
        }
        h2,p {
            margin-left: 2px;
            width: 50rem;
            height: 30%;
        }
       
    }

    @media screen and (min-width: 1180px) {
        .head-1 {
            width: fit-content;
            position: left;
            margin-left: 0 auto;
        }
        .relativebox {
            float: left;
            position: left;
            margin-top: 5%;
            margin-left: 15%;
            width: 60rem;
            background-color: #ffffff;
            border-style: solid;
            border-color:  #dddddd;
        }
        h2,p {
            margin-left: 0px;
            width: 60rem;
            height: 30%;
        }
       
    }

    @media screen and (min-width: 1180px) {
        .head-1 {
            width: fit-content;
            position: left;
            margin-left: 0 auto;
        }
        .relativebox {
            float: left;
            position: left;
            margin-top: 5%;
            margin-left: 15%;
            width: 65rem;
            background-color: #ffffff;
            border-style: solid;
            border-color:  #dddddd;
        }
        h2,p {
            margin-left: 0px;
            width: 65rem;
            height: 30%;
        }
       
    }